{% extends 'base.html' %}

{% block pageheading %}cart{% endblock %}

{% block main %}
<table>
    <tr>
        <th>Item</th>
        <th class="number">Quantity</th>
        <th class="number">Each</th>
        <th class="number">Total</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product[2] }}</td>
        <td class="number">{{ product[1] }}</td>
        <td class="number">{{ product[3] }}</td>
        <td class="number">{{ product[4] }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="4" class="number"><strong>Total: ${{ total }}</strong></td>
    </tr>
</table>
{% if total > 0 %}
    <form action="/cart" method="post">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="submit" value="Checkout">
        <input type="hidden" name="cancel" value="true">
        <input type="submit" value="Cancel Order">
    </form>

{% endif %}

{% endblock %}
