{% extends 'base.html' %}

{% block pageheading %}
{{ label }} orders
{% endblock %}

{% block main %}
    <p><a href="/process_orders/1">Unprocessed Orders</a> | <a href="/process_orders/0">Processed Orders</a></p>
    {% set control = namespace(last_id=-1) %}
    {% set control = namespace(total=0) %}
    {% for order in orders %}
        {% if order[0] != control.last_id %}
            {% if control.last_id != -1 %}
                <tr>
                    <td colspan="3">Total ${{ control.total }}</td>
                </tr>
                {% set control.total = 0 %}
            {% endif %}
    <h3>
        Order {{ order[0] }} for {{ order[1] }}, time: {{ order[2] }}
        {% if label == "unprocessed" %}<a href="/process/{{ order[0] }}"> - Mark as processed</a>{% endif %}
    </h3>
    {% set control.last_id = order[0] %}
    <table class="{{ label }}">
        <tr>
            <th>Item</th>
            <th class="number">Price</th>
            <th class="number">Quantity</th>
            <th class="number">Total</th>
        </tr>
        {% endif %}
        <tr>
            <td>{{ order[3] }}</td>
            <td>{{ order[4] }}</td>
            <td>${{ order[5] }}</td>
            <td>${{ order[4] * order[5] }}</td>
            {% set control.total = control.total + order[4] * order[5] %}
        </tr>
{% endfor %}
        <tr>
            <th colspan="4">Total ${{ control.total }}</th>
        </tr>
    </table>
{% endblock %}